*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

*::selection{
    color: black;
    background-color: white;
}

/* #cubing{
    text-decoration: underline; 
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    animation: logoRotate 5s infinite ease-in-out;
    animation-play-state: paused;
    z-index: 1;
} 

#cubing:hover{
    animation-play-state: running;
}  */

.algs_imgs{
    width: 300px;
    height: 300px;
    color: white;
}

/* @keyframes logoRotate {
    0%   { rotate: 1080deg;}

    33% {scale: 4;
    background-color: #181616; 
    border: 3px solid white;
    box-shadow: 0px 0px 30px black;
    padding: 10px;}

    66% { scale: 4;
    background-color: #181616; 
    border: 3px solid white;
    box-shadow: 0px 0px 30px black;
    padding: 10px;
    rotate: 0deg;}

    100% {scale: 1;}
} */




#logo{
    width: 60px;
    height: 60px;
    display: inline-block;
    /* transition: scale 3s; */
}

/* #logo:hover{
    scale: 2;
} */

main, .second_page{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

body{
    background-color: #181616;
    min-height: 100vh;
    position: relative;
    padding-bottom: 70px;
    overflow-x: hidden;
}

header{
    z-index: 100;
}



/* Para la scrollbar */
::-webkit-scrollbar {
    width: 10px;  
}

::-webkit-scrollbar-thumb{
    /* box-shadow: inset 0px 0px 4px rgb(0, 0, 0); */
    background-color: azure;
}

::-webkit-scrollbar-thumb:hover{
    /* box-shadow: inset 0px 0px 4px rgb(0, 0, 0, 0.9); */
    background-color: rgb(240, 255, 255, 0.6);

}

::-webkit-scrollbar-track{
    /* box-shadow: inset 0px 0px 4px rgb(0, 0, 0); */
    background-color: rgb(88, 86, 86);
}



a{
    background-color: transparent; 
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    border: 0px transparent solid;
    cursor: pointer;
}

/* Para los botónes */
.azure_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: azure;
    transition: 
    color 0.5s,
    scale 0.5s,
    background-color 0.5s,
    box-shadow 0.5s;
}

.azure_buttons:hover{
    background-color: rgba(240, 255, 255, 0.9);
    box-shadow: 0px 0px 4px black;
    scale: 1.025; 
}

.azure_buttons > span{
    font-weight: 500;
    text-align: center;
    color: black;
}

.azure_buttons > span::selection{
    color: white;
    background-color: black;
}

.azure_buttons:hover > span{
    color: rgba(0, 0, 0, 0.9);  
}






h1,p,h2,h3{
    color: white;
    font-weight: 500;
}

/* Nav */
nav{
    width: 100vw;
    height: 70px;
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
    position: fixed;
    box-shadow: 0px 0px 3px 0px black;
}


#first_button_nav{
    margin-left: 30px;
    transition: 
    scale 2s;
}

#first_button_nav:hover{
    scale: 5;
}



#nav_to_center{
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1460px;
    margin: auto;
    height: 70px;
}

.buttons_nav{
    color: white;
    margin-right: 61px;
    font-size: 40px;
    transition: 
    color 0.5s;
}

.buttons_nav:hover{
    color: rgba(255, 255, 255, 0.6);
}

.burger-menu{
    margin-right: 30px;
}


/* Footer */
footer{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}

footer > a{
    font-size: 30px;
    color: white;
    transition: 
    color 0.5s;
}

footer > a:hover{
    color: rgba(255, 255, 255, 0.6);
}

h6{
    color: white;
}






/* Para las págians principales */
.main_pages{
    padding-bottom: 40px;
}



/* 1ra página */
.first_page{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 70px;
    margin-right: 30px;
    margin-left: 30px;
}



/* Para la parte derecha */
.f_p_right{
    padding-top: 29px;
    display: flex;
    justify-content: flex-start;
}

/* Para los textos principales */
#f_p_main_texts{
    margin-bottom: 45px;
    width: 910px;
}

#f_p_main_text{
    font-size: 95px;
    margin-bottom: 22px;
    position: relative;
}

h3{
    font-size: 36px;
}

/* Para los botones de abajo */
#f_p_all_squares{
    display: flex;
    flex-direction: column;
}

.f_p_squares{
    width: 960px;
    height: 138px;
    margin-bottom: 10px;
}

.f_p_squares_text{
    font-size: 56px;
}



/* Para la parte izquierda */
.f_p_left{
    display: flex;
    justify-content: flex-end;
}

/* Para el "sidebar" */
aside{
    padding-top: 20px;
}

.f_p_squares_sidebar{
    width: 244px;
    height: 190px;
    margin-bottom: 10px;
}

.f_p_squares_sidebar_text{
    font-size: 40px;
}



/* 2da página */
.second_page, .third_page{
    padding-bottom: 40px;
} 

/* Para el texto principal de la 2da y 3ra página */
.s_p_main_texts, .t_p_main_texts{
    margin: 30px 0px;
}

.s_p_main_text, .t_p_main_text{
    font-size: 96px;
    text-align: center;
}

/* Para los cuadrados del F2L */
.s_p_f2l{
    display: flex;
    justify-content: center;
}

/* Para cada sección */
.s_p_f2l_sections, .t_p_ll_sections{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 20px;
    padding: 30px;
    height: 670px;
    justify-content: space-between;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px 0px black;
    transition: 
    scale 0.5s,
    box-shadow 0.5s;
}

.s_p_f2l_sections:hover, .t_p_ll_sections:hover{
    scale: 1.006;
    box-shadow: 0px 0px 4px black;
}

/* Para las imgs */
.s_p_f2l_imgs, .t_p_ll_imgs{
    width: 254px;
    height: 254px;
    border: 3px solid azure;
    border-radius: 10px;
}

/* Para la descripción */
.s_p_f2l_descriptions, .t_p_ll_descriptions{
    width: 380px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s_p_f2l_descriptions_texts, .t_p_ll_descriptions_texts{
    text-align: center;
    font-weight: 400;
    font-size: 42px;
}

/* Para las de "Ver los casos" */
.s_p_f2l_cases_squares, .t_p_ll_cases_squares{
    width: 232px;
    height: 176px;
}

.s_p_f2l_cases_squares_texts, .t_p_ll_cases_squares_texts{
    font-size: 50px;
}



/* 3ra página */
.t_p_ll{
    display: flex;
    justify-content: space-around;

}





/* Para la pestaña de 3x3 */

/* Para la parte de CFOP */
#cfop{
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#cfop_main_text{
    padding-top: 43px;
    font-size: 96px;
    padding-bottom: 14px;

}

#all_cfop_squares{
    display: flex;

}

.cfop_squares{
    width: 240px;
    height: 240px;
    margin: 0px 8px;
}

.cfop_squares_text{
    color: black;
    font-size: 60px;
}

  


#others_t_t{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 112px;
    display: flex;
    justify-content: space-between;
}

.others_t_t_main_texts{
    font-size: 64px;
    text-align: center;
    padding-bottom: 10px;

}

.all_others_t_t_squares{
    display: flex;
}

.others_t_t_squares{
    width: 170px;
    height: 170px;
    margin-left: 8px;
    margin-right: 8px; 
}

.others_t_t_squares_texts{
    font-size: 36px;
    color: black;
}



/* Para el F2L, OLL, PLL, ZBLL, CLL, EG-1, EG-2, etc... */


#top{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top_text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.cases_main_text{
    font-size: 96px;
    text-align: center;
    transition: 
    color 0.5s;

}

.cases_main_text:hover{
    color: rgb(255, 255, 255, 0.7);
    cursor: default;
}


.cases{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
}

.cases > article{
    border: 3px solid white;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 
    scale 0.5s,
    box-shadow 0.5s;
    width: 665px;
}

.cases > article:hover{
    scale: 1.006;
    box-shadow: 0px 0px 4px black;
}

#cases_center{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#cases_center > article{
    border: 3px solid white;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 
    scale 0.5s,
    box-shadow 0.5s;
    width: 665px;
}

#cases_center > article:hover{
    scale: 1.006;
    box-shadow: 0px 0px 4px black;
}


.img_and_name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.case_description{
    font-size: 96px;
    font-weight: 400;
}

.alg_square{
    height: 60px;
    background-color: transparent;
    border-top: 2px white solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    text-align: center;

}

.alg{
    font-weight: 400;
    font-size: 20px;
    padding-right: 10px;
}

.alg_button{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 
    color 0.5s;
}

.border_left_alg_square{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid white;
    padding-left: 17px;
}

.alg_button:hover{
    color: rgba(255, 255, 255, 0.6);
}



.cases_main_text_extra_information{
    display: none; 
    position: absolute;
    z-index: 1;
    background-color: #181616;
    top: 166px;
    width: 500px;
    max-height: 600px;
    overflow: auto;
    border: solid azure 3px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.cases_main_text_extra_information::-webkit-scrollbar-thumb{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cases_main_text_extra_information::-webkit-scrollbar-track{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.top_text:hover .cases_main_text_extra_information{
    display: block;
}

.cases_main_text_extra_information_text{
    padding: 30px;
    font-size: 40px;
}



/* Para las partes donde solo hay 1 video */
#only_one_video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#only_one_video_video{
    border-radius: 20px;
} 


/* Para los links */
.link{
    text-decoration: underline;
    color: blue;
    transition: all 0s;
}

.link:hover{
    scale: 1;
    background-color: transparent;
    color: rgba(0, 0, 255, 0.7)
}

.in_development{
    padding-top: 140px;
    text-align: center;
    font-size: 100px;
}


#credits{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#credits_inside{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72vw;
    padding: 20px;
    border: 3px solid azure;
    border-radius: 10px;
}

#credits_main_text{
    font-size: 60px;
}

#credits_inside > p{
    overflow-x: hidden;
}

/* Menú Hamburguesa */
@media (min-width: 320px) and (max-width: 710px) {
    .burger-menu{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        transition: 0.3s ease;
    }


    .nav_right {
        position: absolute;
        transform: translateY(-100px);
        width: 100%;
        height: auto;
        background-color: rgba(0,0,0,0.8);
        padding: 20px 20px;
        transition: 0.3s ease;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        z-index: 10;

    }

    .buttons_nav {
        width: auto;
        display: inline !important;
        margin: 0;
        font-size: 26px !important;
    }


    .burger-menu::before, .burger-menu::after {
        content: ''; 
        background: #fff; 
        position: absolute;
        width: 100%;
        height: 2px; 
        transition: 0.3s ease;
    }


    .burger-menu::before {
        top: 0; 
    }

    .burger-menu span {
        background: #fff;
        position: absolute;
        width: 100%;
        top: 9px;
        height: 2px;
    }

    .burger-menu::after {
        bottom: 0;
    }

/* active */
    .nav_right.active {
        transition: 0.3s ease;
        display: flex;
        flex-direction: column;
        transform: translateY(100px);
    }

    .burger-menu.active::before {
        transform: rotate(45deg);
        top: 9px;
        transition: 0.3s ease;
    }

    .burger-menu.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        transition: 0.3s ease;
    }

    .burger-menu.active span {
        transform: scale(0);
        transition: 0.3s ease;
    }
    

}

/* Quitando aside */
@media (max-width: 1300px){
    aside{ display: none;}
    .first_page{
        justify-content: center;
    }

    .aside-menu{
        display: block;
        position: absolute;
        position: fixed;
        top: 50vh;
        right: -40px;
        width: 80px;
        height: 80px;
        transition: 0.3s ease;
        background-color: gray;
        box-shadow: 0 0 4px black;
        border-radius: 50%;
        padding: 10px;
        z-index: 10000;
    }
    
    aside{
        position: absolute;
        position: fixed;
        display: flex;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        background: #272727;
        border: 1px solid white;
        padding: 20px 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(300px);
        z-index: 10000;
        transition: 0.3s ease;
        gap: 10px;
    }

    

    .f_p_squares_sidebar {
        margin: 0;
        font-size: 26px !important;
    }

    /*
    .aside-menu::before, .aside-menu::after {
        content: ''; 
        background: #fff; 
        position: absolute; 
        width: 70px;
        height: 2px; 
        transition: 0.3s ease;
    }

    .aside-menu::before {
        rotate: -45deg;
        top: 0;
    }

    .aside-menu::after {
        rotate: 45deg;
        bottom: 0;
    }
        
    */

    .aside-menu.aside_open {
        transform: translateX(-280px);
        transition: 0.3s ease;
        margin-right: 20px;
    }

    /*
    .aside-menu.aside_open::before {
        transform: rotate(45deg);
        top: 9px;
        transition: 0.3s ease;
    }

    .aside-menu.aside_open::after {
        transform: rotate(-45deg);
        bottom: 9px;
        transition: 0.3s ease;
    }

    .aside-menu.aside_open span {
        transform: scale(0);
        transition: 0.3s ease;
    }

    */

    aside.aside_open {
        transform: translateX(0px);
        transition: 0.3s ease;
        display: flex;
    } 
}

/* Tablets grandes*/
@media (min-width: 710px) and (max-width: 1500px){
    .s_p_f2l, .t_p_ll{
        display: flex;
        flex-wrap: wrap;
    }
    .s_p_f2l_sections, .t_p_ll_sections{
        flex-direction: row;
        height: auto;
    }

    /* Para la descripción */
    .s_p_f2l_descriptions, .t_p_ll_descriptions{
        margin: 0px 20px;
    }

    
    .case_description{
        font-size: 80px;
        font-weight: 400;
    }


    .algs_imgs{
        width: 250px;
        height: 250px;
    }

    #cases_center > article{
        width: 570px;
    }

    .cases > article{
        width: 570px;
    }


}

@media (max-width: 1200px){
    .cases{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #all_cfop_squares{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .cfop_squares{
        margin: 6px 6px;
    }

}

@media (min-width: 900px) and (max-width: 1200px){
    /* Para la 1era parte */
    #f_p_main_texts{
        margin-bottom: 22px;
        width: 800px;
    }

    #f_p_main_text{
        font-size: 83px;
        margin-bottom: 10px;
    }

    h3{
       font-size: 32px;
    }

    .f_p_squares{
        width: 860px;
        height: 110px;
        margin-bottom: 10px;
    }

    .f_p_squares_text{
        font-size: 44px;
    }



    /* Para el texto principal de la 2da y 3ra página */
    .s_p_main_texts, .t_p_main_texts{
        margin: 24px 0px;
    }

    .s_p_main_text, .t_p_main_text{
        font-size: 80px;
        text-align: center;
    }


    /* Para cada sección */
    .s_p_f2l_sections, .t_p_ll_sections{
        padding: 20px;
    }

    /* Para las imgs */
    .s_p_f2l_imgs, .t_p_ll_imgs{
        width: 220px;
        height: 220px;
        border: 3px solid azure;
        border-radius: 10px;
    }



    /* Para la descripción */
    .s_p_f2l_descriptions, .t_p_ll_descriptions{
        width: 344px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .s_p_f2l_descriptions_texts, .t_p_ll_descriptions_texts{
        font-size: 38px;
    }

    /* Para las de "Ver los casos" */
    .s_p_f2l_cases_squares, .t_p_ll_cases_squares{
        width: 206px;
        height: 164px;
    }

    .s_p_f2l_cases_squares_texts, .t_p_ll_cases_squares_texts{
        font-size: 42px;
    }
}

/* Tablets pequeñas */
@media  (min-width: 710px) and (max-width: 900px){
    .buttons_nav{
        font-size: 30px;
    }

    /* Para la 1ra parte */
    #f_p_main_texts{
        margin-bottom: 22px;
        width: 600px;
    }

    #f_p_main_text{
        font-size: 62px;
        margin-bottom: 10px;
    }

    h3{
        font-size: 26px;
    }

    .f_p_squares{
        width: 600px;
        height: 110px;
        margin-bottom: 10px;
    }

    .f_p_squares_text{
        font-size: 36px;
    }



    /* Para el texto principal de la 2da y 3ra página */
    .s_p_main_texts, .t_p_main_texts{
        margin: 20px 0px;
    }

    .s_p_main_text, .t_p_main_text{
        font-size: 60px;
        text-align: center;
    }


    /* Para cada sección */
    .s_p_f2l_sections, .t_p_ll_sections{
        padding: 15px;
    }

    /* Para las imgs */
    .s_p_f2l_imgs, .t_p_ll_imgs{
        width: 150px;
        height: 150px;
        border: 3px solid azure;
        border-radius: 10px;
    }



    /* Para la descripción */
    .s_p_f2l_descriptions, .t_p_ll_descriptions{
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .s_p_f2l_descriptions_texts, .t_p_ll_descriptions_texts{
        font-size: 30px;
    }

    /* Para las de "Ver los casos" */
    .s_p_f2l_cases_squares, .t_p_ll_cases_squares{
        width: 170px;
        height: 130px;
    }

    .s_p_f2l_cases_squares_texts, .t_p_ll_cases_squares_texts{
        font-size: 36px;
    }


    
    .cfop_squares{
        width: 180px;
        height: 180px;
    }

    .cfop_squares_text{
        color: black;
        font-size: 50px;
    }



    #others_t_t{
        flex-direction: column;
        justify-content: center;
    }

    #sub_methods, #roux{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .all_others_t_t_squares{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media (max-width: 710px) {
    /* Para la 1ra parte */
    #f_p_main_texts{
        margin-bottom: 22px;
        width: auto;
    }

    #f_p_main_text{
        font-size: 62px;
        margin-bottom: 10px;
    }

    h3{
        font-size: 26px;
    }

    #f_p_all_squares{
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .f_p_squares{
        width: 300px;
        height: 110px;
        margin-bottom: 10px;
    }

    .f_p_squares_text{
        font-size: 28px;
    }


    .s_p_f2l, .t_p_ll{
        display: flex;
        flex-wrap: wrap;
    }

    /* Para el texto principal de la 2da y 3ra página */
    .s_p_main_texts, .t_p_main_texts{
        margin: 20px 0px;
    }

    .s_p_main_text, .t_p_main_text{
        font-size: 60px;
        text-align: center;
    }


    /* Para cada sección */
    .s_p_f2l_sections, .t_p_ll_sections{
        padding: 15px;
        height: auto;
        width: auto;
    }

    /* Para las imgs */
    .s_p_f2l_imgs, .t_p_ll_imgs{
        width: 150px;
        height: 150px;
        border: 3px solid azure;
        border-radius: 10px;
    }



    /* Para la descripción */
    .s_p_f2l_descriptions, .t_p_ll_descriptions{
        width: 200px;
        height: auto;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .s_p_f2l_descriptions_texts, .t_p_ll_descriptions_texts{
        font-size: 30px;
    }

    /* Para las de "Ver los casos" */
    .s_p_f2l_cases_squares, .t_p_ll_cases_squares{
        width: 170px;
        height: 130px;
    }

    .s_p_f2l_cases_squares_texts, .t_p_ll_cases_squares_texts{
        font-size: 36px;
    }


    
    .cfop_squares{
        width: 180px;
        height: 180px;
    }

    .cfop_squares_text{
        color: black;
        font-size: 50px;
    }


    /* Para la parte de CFOP */
#cfop{
    padding-top: 70px;
    display: flex;
    flex-direction: column;

}

#cfop_main_text{
    padding-top: 43px;
    font-size: 70px;
    padding-bottom: 14px;

}

#all_cfop_squares{
    display: flex;
    flex-direction: column;

}


.cfop_squares_text{
    color: black;
    font-size: 40px;
}

  


#others_t_t{
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.others_t_t_main_texts{
    font-size: 42px;
    text-align: center;
    padding-bottom: 10px;
    word-break: break-word;

}

.all_others_t_t_squares{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.others_t_t_squares{
    width: 170px;
    height: 170px;
    margin-left: 8px;
    margin-right: 8px; 
}

.others_t_t_squares_texts{
    font-size: 36px;
    color: black;
}

    
    .cases{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        margin-left: 30px;
    }

    .cases > article{
        border: 3px solid white;
        border-radius: 20px;
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.2);
        transition: 
        scale 0.5s,
        box-shadow 0.5s;
        width: 665px;
    }

    .cases > article:hover{
        scale: 1.006;
        box-shadow: 0px 0px 4px black;
    }

    #cases_center{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        margin-right: 30px;
        margin-left: 30px;
    }

    #cases_center > article{
        border: 3px solid white;
        border-radius: 20px;
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.2);
        transition: 
        scale 0.5s,
        box-shadow 0.5s;
        width: 665px;
    }

    #cases_center > article:hover{
        scale: 1.006;
        box-shadow: 0px 0px 4px black;
    }


    .img_and_name{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .case_description{
        font-size: 60px;
    }

    .alg_square{
        height: 60px;
        background-color: transparent;
        border-top: 2px white solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        text-align: center;

    }

    .algs_imgs{
        width: 150px;
        height: 150px;
    }

    .alg{
        font-weight: 400;
        font-size: 14px;
        padding-right: 10px;
    }

    .alg_button{
        color: white;
        text-decoration: none;
        font-size: 14px;
        transition: 
        color 0.5s;
    }

    .border_left_alg_square{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 3px solid white;
        padding-left: 17px;
    }

    .alg_button:hover{
        color: rgba(255, 255, 255, 0.6);
    }



.cases_main_text_extra_information{
    display: none; 
    position: absolute;
    z-index: 1;
    background-color: #181616;
    top: 166px;
    width: 500px;
    max-height: 600px;
    overflow: auto;
    border: solid azure 3px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.cases_main_text_extra_information::-webkit-scrollbar-thumb{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cases_main_text_extra_information::-webkit-scrollbar-track{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.top_text:hover .cases_main_text_extra_information{
    display: block;
}

.cases_main_text_extra_information_text{
    padding: 30px;
    font-size: 40px;
}




    #others_t_t{
        flex-direction: column;
        justify-content: center;
    }

    #sub_methods, #roux{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .all_others_t_t_squares{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    footer > a{
        font-size: 20px;
    }
}